# Ignore Python cache and compiled files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
ENV/
env/

# Ignore temporary or log files
*.log
*.pot
*.sock

# Ignore static/ and media/ by default
static/
media/

# Ignore all SQLite DBs
*.sqlite3

# -- EXCEPTIONS -- #
!staticfiles/
!media/
!db.sqlite3

